@model IEnumerable<ResourcePostServiceModel>

<div class="row mb-2">
    @foreach (var resourcePost in Model)
    {
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">@resourcePost.Title</h3>
                    <div class="mb-1 text-muted">@resourcePost.CreatedOn</div>
                    <p class="card-text mb-auto">@resourcePost.Description</p>
                    <a asp-controller="Resources" asp-action="Details" asp-route-id="@resourcePost.Id" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" width="200" height="250" src="@resourcePost.ImageUrl" role="img">
                </div>
            </div>
        </div>
    }

</div>
