@model ResourcePostDetailsServiceModel

@{
    ViewData["Title"] = Model.Title;
    ViewBag.Type = "Resources";
}


<div class="row mb-4">
    <div class="col-md-12">
        <img src="@Model.ImageUrl" class="img-fluid w-100" alt="@Model.Title" />
    </div>
</div>


<div class="bg-white p-3">
    <h2 class="text-center">@Model.Title</h2>
    <h3 class="text-center mt-2">@Model.CreatedOn</h3>

    <p class="mt-4 text-justify break-word">@Model.Description</p>


    <div class="text-center mt-5">
        @if (this.User.IsAdmin())
        {
            <a class=" btn btn-primary" asp-area="Admin" asp-controller="Resources" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            <a class=" btn btn-primary" asp-area="Admin" asp-controller="Resources" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        }
    </div>
</div>

<div class="bg-white">

    @if (this.User.GetId() != null)
    {

    <form method="post" asp-controller="Comments" asp-action="Add" asp-route-resourcePostId="@Model.Id">

        <partial name="~/Views/Comments/_CommentFormPartial.cshtml" model="@Model.Id">
    </form>


    }


        <partial name="~/Views/Comments/_CommentPartial.cshtml" model="@Model.Comments">

</div>


