@model PaginationViewModel

<nav aria-label="Page navigation example">

    <div class="d-flex justify-content-center mt-5">
        <ul class="pagination mx-auto">

            <li class="page-item">
                <a asp-controller="@ViewBag.Controller" asp-action="All"
                   asp-route-currentPage="@(Model.CurrentPage - 1)"
                   asp-route-type="@Model.Type"
                   class="page-link @(Model.CurrentPage <= 1 ? "disabled" : String.Empty)">Previous</a>
            </li>

            @for (var i = 1; i <= @Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : String.Empty)">
                    <a asp-controller="@ViewBag.Controller"
                       asp-action="All"
                       asp-route-type="@Model.Type"
                       asp-route-currentPage="@i"
                       class="page-link">@i</a>
                </li>
            }
            <li class="page-item">
                <a asp-controller="@ViewBag.Controller" asp-action="All"
                   asp-route-currentPage="@(Model.CurrentPage + 1)"
                   asp-route-type="@Model.Type"
                   class="page-link @(Model.CurrentPage >= Model.TotalPages ? "disabled" : String.Empty)">Next</a>
            </li>
        </ul>
    </div>

</nav>