@model IEnumerable<PetServiceModel>

@{
    ViewData["Title"] = "All Pets";
}

<h2 class="text-center my-2">@ViewData["Title"]</h2>

<div class="text-center my-2">
    <a asp-controller="Pets" asp-action="Add" class="btn btn-primary">Add pet</a>
</div>

<div class="container mt-4">
    @if (!this.Model.Any())
    {
        <h2 class="text-center">You don't own any pets currently!</h2>
    }
    <div class="row">
        @foreach (var pet in Model)
        {

            <div class="col-md-12 col-lg-4 mb-3">
                <div class="card h-100">
                    <img src="@pet.ImageUrl" class="card-img-top" alt="@pet.Name">
                    <div class="card-body">
                        <h5 class="card-title">@pet.Name</h5>
                        <p class="card-text">@pet.Species - @pet.Size</p>
                        <a asp-controller="Pets" asp-action="Details" asp-route-id="@pet.Id" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>


</div>





