@model IEnumerable<CommentServiceModel>



@foreach (var comment in Model)
{
<div class="row p-3">
    <div class="commented-section mt-4 offset-lg-1 col-sm-12 col-lg-8">
            <div class="d-flex flex-row align-items-center commented-user">
                <h5 class="mr-2">@comment.Username</h5><span class="dot mb-1"></span><span class="mb-1 ml-2">@comment.CreatedOn</span>
            </div>
            <div class="comment-text-sm col-lg-10"><span>@comment.Content</span></div>
            @if (this.User.Identity.Name == comment.Username || this.User.IsAdmin())
            {
                <a asp-action="Delete" asp-controller="Comments" asp-route-id="@comment.Id" asp-route-type="@ViewBag.Type" class="btn btn-primary ml-2">Delete</a>
            }

    </div>

</div>
        }

