@model AllSearchPostsViewModel

@{
    ViewData["Title"] = "Search Posts";
}

<h2 class="text-center my-2">@ViewData["Title"]</h2>

<div class="text-center my-3">
    <a asp-controller="SearchPosts" asp-action="Add" asp-route-type="@Model.Type" class="btn btn-primary">Add Search Post</a>
</div>

<div class="container-fluid">

    <form method="get">
        <div class="input-group mb-4">

            <div class="form-group col-md-12 col-lg-10">
                <label asp-for="SearchTerm"></label>
                <input asp-for="SearchTerm" type="text" class="form-control" placeholder="Dog">
            </div>

            <div class="form-group col-md-12 col-lg-2 mx-auto mt-2">
                <input type="submit" value="Search" class="btn btn-primary btn-block mt-lg-4" />
            </div>

            <div class="form-group col-md-12 col-lg-3">
                <label asp-for="Species"></label>
                <select asp-for="Species" class="form-control">
                    <option selected value="">All</option>
                    @foreach (var species in Model.PetSpecies)
                    {
                        <option value="@species">@species</option>
                    }

                </select>
            </div>

            <div class="form-group col-md-12 col-lg-3">
                <label asp-for="Size"></label>
                <select asp-for="Size" class="form-control">
                    <option selected value="">All</option>
                    @foreach (var size in Model.PetSizes)
                    {
                        <option value="@size">@size</option>
                    }

                </select>
            </div>

            <div class="form-group col-md-12 col-lg-3">
                <label asp-for="City"></label>
                <select asp-for="City" class="form-control">
                    <option selected value="">All</option>
                    @foreach (var city in Model.Cities)
                    {
                        <option value="@city">@city</option>
                    }

                </select>
            </div>

            <div class="form-group col-md-12 col-lg-3">
                <label asp-for="Sorting"></label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0" selected>Date Published</option>
                    <option value="1">Date @(Model.Type == "Lost" ? "Lost" : "Found")</option>
                    <option value="2">Pet Species</option>
                    <option value="3">Pet Size</option>
                    <option value="4">City</option>
                </select>
            </div>


            <input type="hidden" asp-for="@Model.Type" asp-route-type="@Model.Type" value="@Model.Type" />
        </div>
    </form>


   <partial name="_SearchPostsPartial" model="@Model.SearchPosts">


    @if(Model.SearchPosts.Any())
    {
        <nav aria-label="Page navigation example">

            <div class="d-flex justify-content-center mt-5">
                <ul class="pagination mx-auto">

                    <li class="page-item">
                        <a asp-controller="SearchPosts" asp-action="All"
                           asp-route-currentPage="@(Model.CurrentPage - 1)"
                           asp-route-type="@Model.Type"
                           class="page-link @(Model.CurrentPage <= 1 ? "disabled" : String.Empty)">Previous</a>
                    </li>

                    @for (var i = 1; i <= @Model.TotalPages; i++)
                    {
                        <li class="page-item">
                            <a asp-controller="SearchPosts"
                               asp-action="All"
                               asp-route-currentPage="@i"
                               asp-route-type="@Model.Type"
                               class="page-link">@i</a>
                        </li>
                    }
                    <li class="page-item">
                        <a asp-controller="SearchPosts" asp-action="All"
                           asp-route-currentPage="@(Model.CurrentPage + 1)"
                           asp-route-type="@Model.Type"
                           class="page-link @(Model.CurrentPage >= Model.TotalPages ? "disabled" : String.Empty)">Next</a>
                    </li>
                </ul>
            </div>

        </nav>
    }

</div>
