@model SearchPostDetailsServiceModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="container-fluid mb-4">
    <div class="row">
        <div class="col-md-12">
            <img src="@Model.ImageUrl" class="img-fluid w-100" alt="@Model.PetSpecies" />
        </div>
    </div>
</div>


<div class="container">
    <h2 class="text-center">@Model.Title</h2>
    <h3 class="text-center">@Model.PetName - @Model.PetSpecies</h3>
    <h5 class="text-center">@Model.City</h5>
    <p class="text-justify mt-4">@Model.Description</p>
    <div class="text-center mt-5">
        @if (this.User.GetId() == Model.UserId)
        {
            <a class=" btn btn-primary" asp-controller="SearchPosts" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            <a class=" btn btn-primary" asp-controller="SearchPosts" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        }
    </div>
</div>
